@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');

@font-face {
  font-family: SF;
  src:url("./fonts/SF-Mono-Nerd-Font/SFMono\ Regular\ Nerd\ Font\ Complete.otf");
}
@font-face {
  font-family: cozette;
  src:url("./fonts/CozetteVector.ttf");
}
@font-face {
  font-family: DDBB;
  src:url("./fonts/disposabledroid-bb.regular.ttf");
}
@font-face {
  font-family: terminus;
  src:url("./fonts/Terminus.ttf");
}

::-webkit-scrollbar {
  display: none;
}

/* disable electron focus orange box */
:focus {
  outline: none;
}

:root {
  /* font-size: 16px; */
  /* font-family: 'Open Sans'; */
  /* font-family: terminus; */
  --transition-speed: 720ms;
  --gap-size: 0.8rem;

  --base00: 16, 19, 23;
  --base01: 26, 29, 33;
  --base02: 35, 38, 42;
  --base03: 43, 46, 50;
  --base04: 50, 53, 57;
  --base05: 242, 244, 248;
  --base06: 255, 255, 255;
  --base07: 212, 212, 213;
  --base08: 120, 169, 255;
  --base09: 250, 183, 149;
  --base0A: 233, 86, 120;
  --base0B: 186, 232, 129;
  --base0C: 89, 225, 227;
  --base0D: 46, 230, 166;
  --base0E: 190, 149, 255;
  --base0F: 164, 200, 222;
  --white: 255, 255, 255;
  --darker-white: 115, 117, 121;
  --darker_black: 10, 13, 17;
  --black: 16, 19, 23;
  --black2: 25, 29, 34;
  /* #14181C */
  --black3: 20, 24, 28;
  --one_bg: 33, 36, 40;
  --one_bg2: 41, 44, 48;
  --one_bg3: 51, 54, 58;
  --grey: 62, 65, 69;
  --grey_fg: 69, 72, 76;
  --grey_fg2: 74, 77, 81;
  --light_grey: 82, 85, 89;
  --red: 233, 86, 120;
  --baby_pink: 248, 101, 135;
  --pink: 255, 126, 182;
  --catppuccin_flamingo: 242, 205, 205;
  --catppuccin_maroon: 235, 160, 172;
  --horizon_orange: 240, 147, 131;
  --orange: 255, 158, 100;
  --yellow: 246, 202, 107;
  --sun: 235, 203, 139;
  --catppuccin_green: 171, 233, 179;
  --light_green: 186, 232, 129;
  --green: 66, 190, 101;
  --vibrant_green: 46, 230, 166;
  --teal: 26, 188, 156;
  --green_cyan: 37, 178, 188;
  --cyan: 24, 184, 217;
  --pale_blue: 164, 200, 222;
  --light_blue: 125, 207, 255;
  --blue: 120, 169, 255;
  --nord_blue: 107, 156, 242;
  --purple: 190, 149, 255;
  --dark_purple: 157, 124, 216;
  --catppuccin_lavender: 180, 190, 254;
  --statusline_bg: 29, 30, 41;
  --lightbg: 50, 51, 62;
  --pmenu_bg: 59, 219, 162;
  --folder_bg: 120, 169, 255;

  --primary: var(--red);
  --secondary: var(--orange);
  --tertiary: var(--yellow);
  --quaternary: var(--catppuccin_green);

  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

html {
  background-color: rgba(var(--darker_black), 1);
}

body {
  /* font-size: 1.2em; */
  background-color: rgba(var(--darker_black), 1);
  color: rgba(var(--base06), 1);
  font-family: terminus;
  /* background-image:url(./assets/bg.png); */
  /* background-position: 50% 0; */
  /* color: black; */
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

.main {
  flex-grow: 2;
  font-family: terminus;
  display: block;
  /* margin-left: 5rem; */
  padding: var(--gap-size);
  /* height: calc(100% - 2 * var(--gap-size)); */
  animation: fadeIn 0.6s ease-out;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

p {
  /* font-size: 1.2rem; */
  margin: 0;
}

/* div { */
/* display: flex !important; */
/* } */
.react-calendar-heatmap .color-scale-1 { fill: rgba(var(--primary), 0.2); }
.react-calendar-heatmap .color-scale-2 { fill: rgba(var(--primary), 0.5); }
.react-calendar-heatmap .color-scale-3 { fill: rgba(var(--primary),0.8); }
.react-calendar-heatmap .color-scale-4 { fill: rgba(var(--primary), 1); }
.react-calendar-heatmap .color-empty { fill: rgba(var(--black), 1) !important; }

.flex {
  display: flex;
}

.flex-container {
  display: flex !important;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--gap-size);
}
.column-flex-direction {
  flex-direction: column;
  /* height: calc(100% - 2 * var(--gap-size)); */
}
.flex-no-gap {
  gap: 0;
}


.item {
  /* disable these to not center module if grow */
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: terminus;
  /* background-color: rgba(var(--black2), 0.7); */
  background-color: rgba(var(--black3), 1);
  /* background-color: rgba(var(--black), 1); */
  color: rgba(var(--base06),1);
  padding: 0.8em;
  /* font-family: terminus; */
  /* border: 1px solid rgba(var(--base04), 1); */
  /* border: 1px solid rgba(var(--black2), 1); */
  border-radius: 0.8rem;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

/* .flex-container > .item{ */
/*   justify-content: center; */
/* } */


.flex-container > div {
  flex-grow: 1;
}


/* #timer-button { */
/*   flex-grow: 0; */
/*   width: 12rem; */
/* } */
/**/
/* #TimeKeeper { */
/*   align-items: center; */
/* } */

.header {
  /* font-family: terminus; */
  font-family: DDBB;
  font-weight: normal;
  font-size: 2rem;
  /* letter-spacing: 0.1rem; */
  /* font-size: 1.2rem; */
  text-align: center;
  color: rgba(var(--primary), 1);
  /* margin-top: var(--gap-size); */
  margin-top: 0;
  margin-bottom: var(--gap-size);
}

.smaller-header {
  /* font-family: terminus; */
  font-family: DDBB;
  font-weight: normal;
  font-size: 1.6rem;
  /* letter-spacing: 0.1rem; */
  /* font-size: 1.2rem; */
  text-align: center;
  color: rgba(var(--darker-white), 1);
  /* color: rgba(var(--secondary), 1); */
  /* margin-top: var(--gap-size); */
  margin-top: 0;
  margin-bottom: 0;
}

.center-text {
  text-align: center;
}
.terminus {
  font-family: terminus;
}

.flex-shrink {
  flex-shrink: 2 !important;
}
.flex-no-grow {
  flex-grow: 0 !important;
}

#icon {
  font-family: 'Noto Emoji', sans-serif;
  font-size: 2rem;
}

#bigbox {
  /* height: calc(100% - 2 * var(--gap-size)); */
  height: calc(100vh - 2 * var(--gap-size));
  /* height: calc(100vh - 0 * var(--gap-size)); */
  /* height: 100vh; */
}

#profile {
  margin-top: var(--gap-size);
  margin-bottom: var(--gap-size);
}

#time {
  font-family: DDBB;
  font-size: 2rem;
}
#date {
  font-family: DDBB;
  /* font-weight: bold; */
  font-size: 1.6rem;
  color: rgba(var(--primary), 1);
}
#remaining-time {
  font-family: DDBB;
  padding-top: 0.8rem;
  font-size: 1.2rem;
  color: rgba(var(--darker-white), 1);
}

#weather {
  font-family: terminus, 'Noto Emoji', sans-serif;
  font-size: 1.2rem;
  min-width: 316px;
  height: 300px;
}

/* #quest { */
/*   font-size: 1.2rem; */
/* } */

#current-session-time {
  font-size: 2rem;
}

.align-item-center {
  align-items: center;
}

#duo-div {
  gap: calc(2 * var(--gap-size));
}

.button {
  border-radius: 0.8rem;
  /* border: 2px solid rgba(var(--primary),1); */
  background-color: rgba(var(--one_bg), 1);
}

#stop-button {
  margin-top: var(--gap-size);
  width: 6rem;
}

#session-button {
  width: 10rem;
}

.hover-button {
  user-select: none;
  padding: 0.6rem;
  border-radius: 0.8rem;
}

.focused-hover-button {
  color: rgba(var(--secondary));
  /* background-color: rgba(var(--one_bg)) */
}

.hover-button:hover {
  cursor: pointer;
  background-color: rgba(var(--one_bg))
}

#not-found {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  color: rgba(var(--darker-white));
}


/* Small screens */
@media only screen and (max-width: 600px) {
}

/* Large screens */
@media only screen and (min-width: 600px) {
}
